*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
}
.imgBox{
    width: 45%;
    margin: auto;
    line-height: 0;
    background-image: url(background.png);
    overflow: hidden;
    position: relative;
}
.imgWrap{
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
span{
    width: 1px;
    height: 100%;
    cursor: ew-resize;
    position: absolute;
    background: white;
    left: 20;
    top: 0;
}
.arrow{
    width: 39px;
    position: absolute;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;

}